body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: midnightblue;
  padding: 1.5rem;
}

header a {
  color: #ffffff;

  text-decoration: none;
  font-size: 1.5rem;
}
